.split {
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
}

.left {
    top: 80px;
    width: 100%;
    left: 0;
    background-color: #f8f9fa;
}

.right {
    height: 100%;
    top: 192px;
    width: 100%;
    right: 0;
}

.item-list-background {
    position: absolute;
    top: 80px;
    margin: auto;
    width: 100%;
}

.jumbotron {
    background-color: #f8f9fa !important;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login-logo {
    display: block;
    margin: auto;
}

.login-page {
    display: block;
    margin: auto;
    width: 80%;
}

@media (min-width: 576px) {
    .login-page {
        width: 50%;
    }

    .left {
        height: 100%;
        width: 20%;
        top: 80px;
    }

    .right {
        height: 100%;
        width: 79%;
        top: 80px;
    }
}

@media (min-width: 768px) {
    .login-page {
        width: 30%;
    }
}
