.sidebar-background {
    background-color: #f8f9fa;
    position: absolute;
    top: 70px;
}

.main-layout-background {
    position: absolute;
    top: 70px;
}

.item-list-background {
    position: absolute;
    top: 70px;
    margin: auto;
    width: 100%;
}

.jumbotron {
    background-color: #f8f9fa!important;
}
